$ff: 'MyriadPro', sans-serif;
$fz: 25px;

body {
    color: #111;
    font-family: $ff;
    font-size: $fz;
    box-sizing: border-box;
    background-color: #fafafa;
}

.main-content {
    padding-top: 50px;
    padding-bottom: 100px;
}

.inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

.main-content__center {
    display: flex;    
}

.leftside {
    overflow-x: hidden;
}

.buttons-box {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.ui.button {
    font-family: $ff;
    transition: background-color .2s linear;
}

.__dn {
    display: none;
}

.__db {
    display: block;
}