@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadProReg/MyriadPro-Cond.eot');
	src: local('☺'),
		 url('../fonts/MyriadProReg/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadProReg/MyriadPro-Cond.woff2') format('woff2'),
		 url('../fonts/MyriadProReg/MyriadPro-Cond.woff') format('woff'),
		 url('../fonts/MyriadProReg/MyriadPro-Cond.ttf') format('truetype'),
		 url('../fonts/MyriadProReg/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadProBold/MyriadPro-BoldCond.eot');
	src: local('☺'),
		 url('../fonts/MyriadProBold/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadProBold/MyriadPro-BoldCond.woff2') format('woff2'),
		 url('../fonts/MyriadProBold/MyriadPro-BoldCond.woff') format('woff'),
		 url('../fonts/MyriadProBold/MyriadPro-BoldCond.ttf') format('truetype'),
		 url('../fonts/MyriadProBold/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg');
	font-weight: bold;
	font-style: normal;
}

