.modal {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 90px;
    padding-bottom: 150px;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, .45);
    z-index: 15;
    overflow-y: auto;
    opacity: 1;
}

.modal__inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    background-color: #fafafa;
}

.modal__cross {
    position: absolute;
    padding: 5px;
    right: -50px;
    top: -13px;
    color: #fff;
    cursor: pointer;

    &:hover {
        .icon {
            opacity: 0.7;
        }
    }
}

.modal__title {
    padding: 25px 25px;
    background-color: #fafafa - 10%;
    text-transform: uppercase;
}

.modal__content {
    padding: 35px 25px 35px;
}