.sidebar {
    width: 280px;
    min-width: 280px;
    margin-left: 30px;
    padding: 20px 15px;
}

.sidebar__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 27px;
}

.app-top-list {
    margin-bottom: 40px;
}

.app-top {
    display: flex;
    margin-bottom: 10px;

    color: #505050;
    font-size: 18px;
    line-height: 19px;

}

.app-top__inner {
    display: block;

    &._flex {
        display: flex;
    }
}

.app-top__index {
    margin-right: 5px;
}

.app-top__title {
    display: block;
    text-decoration: none;
    width: 100%;
    
    color: #505050;
    font-size:  18px;
    line-height: 19px;
}
.app-top__category {
    display: block;

    color: #505050 + 30%;
    font-size: 14px;
    line-height: 16px;
}

.app-top__img-wrap {
    display: inline-block;
    width: 65px;
    height: 65px;
    margin-right: 5px;
    border-radius: 7px;
    overflow: hidden;
    transition: opacity .2s linear;

    &:hover {
        opacity: .7;
    }
}

.app-top__img {
    width: 100%;
}