.collection {
    margin-bottom: 50px;
}

.collection__list {
    display: flex;
    max-height: 450px;
    overflow-x: auto;

    &._grid {
        display: block;
        max-height: none;
        overflow: visible;
    }
}


.collection__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.apps {
    display: inline-block;
    width: 95px;
    max-width: 95px;
    margin: 0 20px 30px;
    list-style: none;
}

.apps__img-wrap {
    display: block;
    width: 95px;
    height: 95px;
    margin: 0 auto;
    border-radius: 23px;
    overflow: hidden;
    transition: opacity .1s linear;

    &:hover {
        opacity: 0.6;
    }

    img {
        width: 100%;
    }
}

.apps__title {
    display: block;
    padding: 5px 0 0;
    color: #505050;
    font-size: 16px;
    line-height: 20px;
    
}

.apps__category {
    display: block;
    color: #505050;
    font-size: 13px;
    line-height: 20px;
}

.apps__price {
    display: block;
    padding-top: 6px;
    font-size: 15px;
    line-height: 20px;
}