.banners {
    margin-bottom: 70px;
    
}


.banners__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 400px;
    overflow-x: auto;
}

.banner {
    display: inline-block;
    margin: 0 8px 30px;
    line-height: 0;
}

.banners__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}


.banner__link {
    display: block;
    width: 240px;
    height: 112px;

    text-decoration: none;
    border-radius: 7px;
    overflow: hidden;
    transition: opacity .2s linear;

    &:hover {
        opacity: .7;
    }

    img {
        width: 100%;
    }
}
