.top-slider {
    width: 100%;
    position: relative;

    &:hover {
        .top-slider__arrow {
            opacity: .9;

            &:hover {
                opacity: .6;
            }
        }
    }
}

.top-slider__itemwrap {
    padding: 0 5px;
}

.top-slider__item {
    display: block;
    // width: 1360px;
    height: 520px;

    text-decoration: none;
    // background-color: aquamarine;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-slider__arrow {
    display: block;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    z-index: 3;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .2s linear;
    cursor: pointer;

    &._left {
        left: 30px;
    }

    &._right {
        right: 30px;
    }

}